.funny-glasses {
    position: relative;
    left: 210px;
    bottom: 110px;
}
.bandana {
    position: absolute;
    top: 175px;
    left: 110px;
}
.pawprint {
    position: fixed;
    top: 45px;
    left: 65px;
}